Repository m-moein98/privatejet: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.10.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - push

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        exclude: migrations/.*
        require_serial: true
        language: python
        types_or: [cython, pyi, python]

  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        language: system
        exclude: migrations/.*
        types:
          - python

  - repo: local
    hooks:
      - id: flake8
        name: Flake8
        entry: flake8 --config setup.cfg
        language: system
        stages:
          - pre-commit
          - pre-push
        types:
          - python

  - repo: local
    hooks:
      - id: pylint
        name: Pylint
        entry: pylint --rcfile=setup.cfg
        language: system
        types:
          - python
        exclude: docs/.*

  - repo: local
    hooks:
      - id: mypy
        name: Mypy
        entry: mypy
        language: system
        types:
          - python
        exclude: setup.py

add poetry and linting to Readme
  README.md
Due: none

apply formating and linting
  docs/conf.py
  privatejet/main.py
  privatejet/middlewares.py
  privatejet/router.py
  setup.py
Due: black, flake8, pylint, mypy

add main.py template
  privatejet/boilerplates/main.py
Due: black, flake8, pylint, mypy

add cli tool
  privatejet/cli.py
  setup.py
Due: black, flake8, pylint, mypy

update readme and docs
  README.md
  docs/_build/html/_sources/index.rst.txt
  docs/cli.rst
  docs/conf.py
  docs/index.rst
Due: black, flake8, mypy
